@import "syntax-variables";
atom-text-editor {
  .syntax--wdiff {
    &.syntax--inserted {
      color: @syntax-color-added;
    }
    &.syntax--deleted {
      color: @syntax-color-removed;
    }
    &.syntax--statistics {
      color: @syntax-color-snippet;
    }
  }
}
